@use '../variables';

.button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px 40px;
    margin-left: 25px;

    &--primary {
        color: #fff;
        background-color: variables.$royalPurple;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}